h3 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

#main {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    position: absolute;
	top: 80px;
	left:13%;
}

#identity-container {
    margin-bottom: 20px;
	background:white;
}

#identity {
    position: relative;
    overflow: hidden;
}

#identity .member {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 370px;
    float: left;
    border-right: 1px solid #ddd;
}

#identity .photo {
    float: left;
    height: 100px;
    width: 100px;
    padding: 0;
    border: none;
}

#identity .name-title {
    height: 100px;
    margin-left: 105px;
}

#identity .name-title .name {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    color: #434649;
    padding-top: 5px;
    max-height: 24px;
}

#identity .name-title .job-title {
    font-size: 12px;
    line-height: 14px;
    color: #66696a;
    max-height: 14px;
}

#identity .name-title .profile-view {

	position:absolute;
	bottom:20px;
}

.feed {
	
	margin-bottom: 20px;
	background: white;
}


.feed h2 {
	
	border: 2px;
	border-style: solid;
	width: 200px;
	//background-color: RGB(26,133,188);
	background-color: RGB(95,95,95);
	color: white;
	margin: 0px 0px 5px 0px;
}

.feed .person-box {
	
	position: relative;
    padding: 5px 5px 0px 5px;
    width: 100%;
    float: left;
}

.feed-photo {
    float: left;
    height: 50px;
    width: 50px;
    padding: 0;
    border: none;
}

.feed .person-description {
	
	height: 60px;
	margin-left: 55px;
}

.feed .person-box .person-name {

	font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    //color: #0645AD;
	color: #008cc9;
	padding-top: 5px;
    max-height: 50px;
}

a:hover {
	
	text-decoration:underline;
}

.feed .person-box .person-job {

    font-size: 12px;
    line-height: 14px;
    color: #66696a;
    max-height: 14px;
}

.feed .post {
	
	padding-bottom: 30px;
}

.feed .post button {
	
	color: #008cc9;
	background:none;
	border:none;
	padding:0;
}

#trending-heading h2 {
	
	width: 180px;
}

#options {
	
	position:relative;
	top:10px;
}

#options .button {

	background:none;
    border: solid;
	border-width:1px;
    color: black;
    padding: 2px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 25px;
    cursor: pointer;
	width:125px;
}
}


